.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.logo__image{
  display: flex;
  height: 32px;
  align-items: flex-start;
}

.user__container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.info__container {
  display: flex;
  flex-direction: column;
}

.info__name {
  color: rgba(0, 55, 144, 0.70);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}

.info__role {
  color: rgba(0, 55, 144, 0.70);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
