.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.info__tab {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 4px;
  padding: 8px 0;
  border-top: 1px solid rgba(0, 55, 144, 0.50);
}

.value__text {
  margin: 0 4px;
  color: #003790;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.regular__text {
  color: #003790;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  text-align: left;
}