.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  margin-top: 96px;
}

.option__container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  border: none;
  background: none;
}

.option__label {
  display: flex;
  text-align: left;
  color: #001F5A;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}