.container {
  display: flex;
  overflow: scroll;
}

th {
  padding: 8px;
  color: #003790;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  border: 1px solid rgba(0, 55, 144, 0.50);
  background: #E4F2FF;
}

tr {
  border: 1px solid rgba(0, 55, 144, 0.50);

  background: #FFF;
  color: #003790;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

td {
  text-align: center;
  border-left: 1px solid rgba(0, 55, 144, 0.50);
  border-right: 1px solid rgba(0, 55, 144, 0.50);
}

.tab__ok{
  display: flex;
  width: fit-content;
  padding: 6px 16px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #D6FFE9;
  color: #00813C;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}

.tab__none {
  @extend .tab__ok;
  background: #FFB7BF;
  color: #C73E4D;
}

.custom__button {
  border: none;
  background: none;
  color: #003790;
}
